body {
    background-image: url(../images/New-blog-graphic.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ddd;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
hr {
    background-color: #ddd;
}
.main {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    color: black;
    font-size: larger;
}
.quizhd {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
.ques {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: x-large;
    font-weight: bolder;
}
input[type=radio] {
    position: relative;
    top: 5px;
    border: 0px;
    width: 20px;
    height: 20px;
}
.anslabl {
    width: 100%;
    padding-left: 10px;
    margin: 0 !important;
}
.ans {
    display: flex;
    background-color: #ddd;
    border-radius: 2em;
    padding: 10px;
    padding-left: 20px;
}
button {
    background-color: #ddd;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2em;
    border: none;
}
button:focus {
    outline: none;
}
.bck {
    color: white;
}
.nxt {
    float: right;
    color: white;
}
.result {
    display: none;
    text-align: center;
}
/* .score1 {
    display: flex;
    justify-content: center;
} */
#remark1 {
    font-size: 80px;
    text-transform: uppercase;
}
#score {
    width: 100%;
}
.startbtn {
    border: 2px solid black;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-radius: 2em;
    padding-right: 50px;
    background-color: rgb(65, 105, 225);
    color: whitesmoke;
}
.startbtn:link {
    text-decoration: none;
}
.startbtn:hover {
    color: rgb(65, 105, 225);
    background-color: whitesmoke;
}
#Q2, #Q3, #Q4, #Q5 {
    display: none;
}